<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<a href="/"> Home</a>


<ul>
    <li> <a href="/admin"> admin panel</a> </li>
    <li> <a href="/Setting"> user setting</a> </li>
    <li> <a href="/courseList"> semester course List</a> </li>
</ul>

<p>Student Zone</p>
<ul>
      <li> <a href="/student/myCourses">my courses </a> </li>
  
</ul>
<p> Teacher Zone </p>
<ul>
     <li> <a href="/prof/myclasses" >my classes</a> </li>   
</ul>

<p>
 <a href="/logout"> logout from system</a>
</p>
</body>
</html>